 /* .first {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
} 

.first:hover {
    transform: scale(2) translate(50px, 50px) rotate(45deg) skew(30deg);
    width: 200px;
    background-color: green;
    } 

.card-parent {
    margin-top: 50px;
    display:flex;
    justify-content:center;  
}   
.card {
    border: 1px solid red;
    border-radius: 12px;
    overflow:hidden;
    transition: 1s;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: -2px 1px 47px 9px rgba(230,29,29,0.75);
}
img {
    width: 200px;
} */

/* .second {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background-color: blue;
    animation-name: animation-for-second;
    animation-duration: 10s;
    animation-iteration-count: 5;
}

@keyframes animation-for-second {
    0% {
        width: 300px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 300px;
    }
} */

.parent-typing-effect {
    margin-top: 50px;
    display: flex;
}
.typing-effect {
    font-size: 24px;
    animation: typing-effect 0.5s, change-width 5s steps(32, end);
    animation-iteration-count: infinite;

    white-space: nowrap;
    overflow: hidden;
}

@keyframes change-width {
    0% {
         width: 0;
    }
    25% {
        width: 0;
    }
    50% {
        width: 100%; 
    }
}

@keyframes typing-effect {
    0% {
        border-right: none;
    }
    100% {
        border-right: 1px solid black;
    }
}
    
    
    